<h2>Wei Huang -- Computer Science -- </h2>
<p>
  The time is now: <%= Time.now %>
</p>
<div id="maia-footer-global">
        <div class="maia-aux">
          <div class="maia-locales">
            <label><span>Change language or region:</span> <select onchange=
            "var href=this[this.selectedIndex].value;if(href!=''){window.location.href=href};">
              <option value="/intx/id/work/apps/business/">
                Bahasa Indonesia
              </option>
              <option value="/intx/cs/work/apps/business/">
                Čeština
              </option>
              <option value="/intx/da/work/apps/business/">
                Dansk
              </option>
              <option value="/intx/de/work/apps/business/">
                Deutsch
              </option>
              <option selected value="/intx/en/work/apps/business/">
                English
              </option>
              <option value="/intx/en_au/work/apps/business/">
                English – Australia
              </option>
              <option value="/intx/en_in/work/apps/business/">
                English – India
              </option>
              <option value="/intx/en_id/work/apps/business/">
                English – Indonesia
              </option>
              <option value="/intx/en_ie/work/apps/business/">
                English – Ireland
              </option>
              <option value="/intx/en_my/work/apps/business/">
                English – Malaysia
              </option>
              <option value="/intx/en_nz/work/apps/business/">
                English – New Zealand
              </option>
              <option value="/intx/en_ph/work/apps/business/">
                English – Philippines
              </option>
              <option value="/intx/en_sg/work/apps/business/">
                English – Singapore
              </option>
              <option value="/intx/en_uk/work/apps/business/">
                English – United Kingdom
              </option>
              <option value="/intx/es/work/apps/business/">
                Español
              </option>
              <option value="/intx/es-419/work/apps/business/">
                Español (Latinoamérica)
              </option>
              <option value="/intx/es-419_mx/work/apps/business/">
                Español (Latinoamérica) – México
              </option>
              <option value="/intx/fr/work/apps/business/">
                Français
              </option>
              <option value="/intx/it/work/apps/business/">
                Italiano
              </option>
              <option value="/intx/hu/work/apps/business/">
                Magyar
              </option>
              <option value="/intx/nl/work/apps/business/">
                Nederlands
              </option>
              <option value="/intx/no/work/apps/business/">
                Norsk
              </option>
              <option value="/intx/pl/work/apps/business/">
                Polski
              </option>
              <option value="/intx/pt-BR/work/apps/business/">
                Português (Brasil)
              </option>
              <option value="/intx/pt-PT/work/apps/business/">
                Português (Portugal)
              </option>
              <option value="/intx/fi/work/apps/business/">
                Suomi
              </option>
              <option value="/intx/sv/work/apps/business/">
                Svenska
              </option>
              <option value="/intx/vi/work/apps/business/">
                Tiếng Việt
              </option>
              <option value="/intx/tr/work/apps/business/">
                Türkçe
              </option>
              <option value="/intx/ru/work/apps/business/">
                Русский
              </option>
              <option value="/intx/uk/work/apps/business/">
                Українська
              </option>
              <option value="/intx/iw/work/apps/business/">
                ‫עברית‬
              </option>
              <option value="/intx/ar/work/apps/business/">
                ‫العربية‬
              </option>
              <option value="/intx/th/work/apps/business/">
                ไทย
              </option>
              <option value="/intx/ko/work/apps/business/">
                한국어
              </option>
              <option value="/intx/zh-HK/work/apps/business/">
                中文 (香港)
              </option>
              <option value="/intx/zh-CN/work/apps/business/">
                中文（简体中文）
              </option>
              <option value="/intx/zh-TW/work/apps/business/">
                中文（繁體中文）
              </option>
              <option value="/intx/ja/work/apps/business/">
                日本語
              </option>
            </select></label>
          </div>
        <ul>
          <li>
            <a href="/">Status</a>
          </li>
          <li>
            <a href="/intl/en/about/">Information</a>
          </li>
          <li>
            <a href="/intl/en/policies/privacy/">Privacy</a>
          </li>
          <li>
            <a href="/intl/en/policies/terms/">Terms</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
